/* This is the IFF style sheet for architectural pages. */

body {
    margin: 0;
    padding: 0;
    background-image: url(http://suo.ieee.org/IFF/images/background-tile-top.jpg);
    background-repeat: repeat-x; 
    background-color: white;
}
 
/* CSS divisions */

#document {
    width: 60em;
    margin: 85px auto 30px auto;
    padding: 0;
    line-height: 130%;
    color: black;
    font-family: "Times New Roman", Times, "New Century Schoolbook", Garamond, serif;
    font-size: 1em;
    text-align: left;
}
#left-column {
    float: left;
    width: 7em;
    margin: 0;
    padding: 0;
    text-align: right;
}
#right-column {
    float: right;
    width: 14em;
    margin: 0;
    padding: 0;
    text-align: left;
}
#header {
    margin: 0 7em;
    padding: 0 0 0.5em 0;
    text-align: center;
}
#home {
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
}
#home a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
#top {
    margin: 0 10em;
    padding: 0;
/*
    white-space: nowrap;
*/
}
#navigation {
    margin: 0 10em;
    padding: 0;
}
#navigation ul {
    margin: 0;
    padding: 0.5em 0;
    line-height: 1.8em;
    text-align: center;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 1em;
    font-weight: bold; 
    color: black;
}
#navigation ul li {
    margin: 0 0.5em;
    padding: 0;
    display: inline;
    list-style-type: none;
    background-image: none;
    background-position: none;
    text-indent: 0;
}
#navigation ul li a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: black;
}
#navigation ul li a:link    {}
#navigation ul li a:visited {}
#navigation ul li a:hover   {color: blue;}
#navigation ul li a:active  {color: red;}

#architecture {
    margin: 0;
    padding: 0;
    text-align: left;
}

#content {
    clear: both;
    margin: 0 7em;
    padding: 0;
    max-width: 46em;
}
#content p.text {
    margin: 0;
    padding: 0;
    text-align: justify;
}
#content p.text.first-paragraph {
}
#content p.text.next-paragraph {
    margin: 1em 0 0 0;
}
#content p.text.unicode {
    clear: both;
    margin: 1.2em auto;
    padding: 0.5em;
    width: 36em;
    border: 1px solid #dcdcdc;
    text-align: justify;
    font-family: "Times New Roman", Times, "New Century Schoolbook", Garamond, serif;
    font-size: 0.8em;
    line-height: 120%;
}

#content p.indent {
    margin-left: 40px;
    text-align: justify;
    font-size: 90%;
}
#content p.quotation {
    margin-left: 2.7em; 
    padding: 0;
    text-align: justify;
    line-height: 130%;
    color: black;
    font-family: "Times New Roman", Times, "New Century Schoolbook", Garamond, serif;
    font-size: 80%;
}

#content p.logic {
    margin: 0.5em 0; 
    padding: 0 0.5em;
    text-align: left;
    line-height: 130%;
    color: black;
    font-family: "Courier New", Courier, "Andale Mono", Terminal, monospace;
    font-size: 90%;
}

#content table.math {
    margin: 1.0em auto;
    padding: 1em;
    border: 0px solid black;
    border-collapse: collapse;
    font-size: 90%;
}

#content table.math.iff {
    margin: 1.0em 0.5em 1.0em auto;
}

#content table.math caption {
    margin: 0 auto 0 auto;
    padding: 0.8em 0 1.0em 0;
    caption-side: bottom;
    font-family: "Times New Roman", Times, "New Century Schoolbook", Garamond, serif;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

#content table.math.iff caption {
    width: auto;
    margin-right: 0em;
    text-align: left;
}

#content table.math th {
    white-space: nowrap;
    padding: 5px 3px 5px 3px;
    border: 0px solid gray;
}
#content table.math td {
    white-space: nowrap;
    padding: 1px 2px;
    border: 0px solid gray;
}

#content table.math tr.first {
      padding: 5px 5px 1px 5px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#content table.math tr.middle {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#content table.math tr.last {
/*      padding: 1px 5px 1em 5px;
      background-color: aqua; */
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#content table.math tr.first td {
	border-top: 1px solid black;
}

#content table.math tr.last td {
	border-bottom: 1px solid black;
}


#content table.math td.caption { 
    margin: 0;
    padding: 1.6em 0 0 0;
    border: 0px solid transparent;
    font-family: "Times New Roman", Times, "New Century Schoolbook", Garamond, serif;
    font-weight: bold;
    font-size: larger;
    text-align: left;
}


#footer {
    clear: both;
    margin: 1em 0;
    padding: 0.5em;
    font-size: 0.9em;
    text-align: center;
    font-family: "Brush Script MT", "Script MT Bold", "Monotype Corsiva", cursive;
    line-height: 200%;
}
.figure {
    width: 96%;
    margin: 0 auto;
    padding: 1.5em 0;
    text-align: center;
}
.figure #image {
    margin: 0;
    padding: 0;
}
.figure #caption {
    margin: 0;
    padding: 1.5em 0 0 0;
    text-align: center;
    color: black;
    font-family: "Times New Roman", Times, "New Century Schoolbook", Garamond, serif;
    font-weight: bold;
}
div.table {
    width: 96%;
    margin: 0 auto;
    padding: 1.5em 0;
    text-align: center;
}

table.namespace {
    margin: 0 auto 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
    white-space: nowrap;
    text-indent: 0;
    text-align: left;
}
table.namespace.alignright {
    margin: 0 2em 0 auto;
}
table.namespace caption {
    margin: 0 auto 0 auto;
    padding: 1em 0 0.5em 0; /* 1em 0 1em 7em */
    caption-side: bottom;
    font-family: "Times New Roman", Times, "New Century Schoolbook", Garamond, serif;
    font-weight: bold;
    text-align: center;
}


/* table.namespace.alignright caption {
background-color: yellow;
    width: auto;
    margin-left: 0em;
    padding-left: 10em;
    text-align: left;
} */

table.namespace td.caption { 
    padding: 0.5em 0 1em 0;
    border: 0px solid transparent;
    font-family: "Times New Roman", Times, "New Century Schoolbook", Garamond, serif;
    font-weight: bold;
    font-size: 102%;
    text-align: left;
}

table.namespace th {
    white-space: nowrap;
    padding: 5px 10px 0 10px;
    border: 0px solid transparent;
    text-align: left;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 100%;
    font-weight: normal;
}
table.namespace th.topic { 
}
table.namespace th.set, table.sample th.ftn, table.sample th.rel { 
}
table.namespace td {
    white-space: nowrap;
    padding: 1px 10px 3px 10px;
    border: 0.15em solid black;
    vertical-align: top;
    font-family: "Courier New", Courier, "Andale Mono", Terminal, monospace;
    font-size: 75%;
/*    font-weight: bold; */
    line-height: 120%;
    white-space: nowrap;
}
table.namespace td.last { 
    padding: 1px 10px 3px 10px;
    border: 0.15em solid black;
    border-bottom: 0.5em double black;
}
table.namespace td.note { 
    border: 0px solid transparent;
    font-family: "Times New Roman", Times, "New Century Schoolbook", Garamond, serif;
    font-size: 85%;
    font-style: italic;
    text-align: left;
}
table.namespace td.prefix { 
/* background-color: lime; */
    padding: 5px 10px 0 10px;
    border: 0px solid transparent;
    font-family: "Courier New", Courier, "Andale Mono", Terminal, monospace;
    font-weight: bold; 
    font-size: 85%;
    text-align: right;
}
table.namespace td.filler { 
    padding: 10px 10px 5px 10px;
    border: 0px solid transparent;
}
table.namespace td.topic { 
    border: 0px solid transparent; 
    font-family: "Times New Roman", Times, "New Century Schoolbook", Garamond, serif;
    font-size: 85%;
    font-style: italic;
    text-align: right;
}
table.namespace td.set, table.sample td.ftn, table.sample td.rel { 
}
table.namespace td.namespace-prefix {	
    margin: 0;
    padding: 10px 10px 5px 10px;
    border: 0px solid black;
    font-family: "Courier New", Courier, "Andale Mono", Terminal, monospace;
    font-size: 85%;
/*    font-weight: bold; */
    text-align: left;
    line-height: 120%;
}

/* HTML elements */

h1, h2, h3 {
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
}
#top h1 {
    margin: 0;
    padding: 0.5em 0 0.5em 0; 
    font-size: 220%; 
    line-height: 100%;
}
#content h2 { 
    margin: 0.5em 0 0.5em 0; 
    padding: 0.5em 0 0.5em 0; 
    font-size: 175%; 
}
#content h3 { 
    margin: 0.5em 0 0.5em 0; 
    padding: 0.5em 0 0.5em 0; 
    font-size: 120%; 
}
p.text a {
    text-decoration: none;
    margin: 0;
    padding: 0 0.3em;
    color: black;
    background-color: #eee;
}
p.text a:link    {}
p.text a:visited {}
p.text a:hover   {color: blue; text-decoration: underline;}
p.text a:active  {color: red; text-decoration: underline;}
p.first-paragraph:first-letter { 
    margin: 0em 0.08em 0em 0em; 
    padding: 0em 0.08em 0em 0.08em;
    float: left; 
    font-size: 3.3em; 
    line-height: 1em; 
    font-family: "Brush Script MT", "Script MT Bold", "Monotype Corsiva", cursive;
}

pre {
    font-family: 'Courier New', Courier, 'Andale Mono', Terminal, monospace; 
    font-size: 0.9em; 
    line-height: 130%; 
    padding: 0 1em;
}

/* lists */

#content ul {
    margin: 0 0 0 2em;
    padding: 0;
    text-align: justify;
}

#content ul li {
/*
    list-style-type: none;
    background-image: url(http://suo.ieee.org/IFF/images/bullet.gif);
    background-repeat: no-repeat;
    background-position: 0 0.24em;
    text-indent: 1.3em;
*/

    padding: 0 0 0.8em 0;
}

#content ul li a {
    text-decoration: none;
    margin: 0;
    padding: 0 0.3em;
    color: black;
    background-color: #eee;
/*
    background-color: transparent;
*/
}
#content ul li a:link    {}
#content ul li a:visited {}
#content ul li a:hover   {color: blue; text-decoration: underline;}
#content ul li a:active  {color: red; text-decoration: underline;}

dl.float-right {
    border: 3px solid #000;
    background-color: #ddd;
    width: 145px;
    text-align: center;
    padding: 0 0 10px 0;
    float: right;
    margin: 0 0 1em 1em;
}
dl.float-right dt {
    font-weight: bold;
    background-color: black;
    color: #ddd;
    padding: 5px 10px;
    margin-bottom: 10px;
}
dl.float-right dd img {
    border: 0px solid black;
    width: 103px;
    height: 101px;
}
dl.float-right dd {
    margin: 0;
    padding: 0 10px 2px 20px;
    text-align: left;
    font-size: 85%;
    font-weight: bold; 
    color: #131210;
}

dl.definition {
    margin: 0.2em 0;
    padding: 0.2em;
    text-align: justify;
}
dl.definition dt {
    display:inline;
    margin: 0 0.2em 0 0;
    padding: 0;
    font-weight: bold;
}
dl.definition dd {
    display:inline;
    margin: 0;
    padding: 0;
    font-style: italic;
}

dl.theorem {
    margin: 1em 0 0 0;
    padding: 0.2em;
    text-align: justify;
}
dl.theorem dt {
    display:inline;
    margin: 0 0.2em 0 0;
    padding: 0;
    font-weight: bold;
}
dl.theorem dd {
    display:inline;
    margin: 0;
    padding: 0;
    font-style: italic;
}

dl.proof {
    margin: 0 0 0.3em 0;
    padding: 0.2em;
    text-align: justify;
}
dl.proof dt {
    display:inline;
    margin: 0 0.2em 0 0;
    padding: 0;
    font-style: italic;
    font-weight: bold;
}
dl.proof dd {
    display:inline;
    margin: 0;
    padding: 0;
}

dl.comment {
    margin: 0.2em 0;
    padding: 0.2em;
    text-align: justify;
}
dl.comment dt {
    display:inline;
    margin: 0 0.2em 0 0;
    padding: 0;
    font-weight: bold;
}
dl.comment dd {
    display:inline;
    margin: 0;
    padding: 0;
}

dl.comment a {
    text-decoration: none;
    margin: 0;
    padding: 0 0.3em;
    color: black;
    background-color: #eee;
}
dl.comment a:link    {}
dl.comment a:visited {}
dl.comment a:hover   {color: blue; text-decoration: underline;}
dl.comment a:active  {color: red; text-decoration: underline;}

dl.tabular { border-bottom: 1px solid #999; }

dt.tabular {
/*    background-color: pink; */
    float: left;
    width: 7.5em;
    margin: 0;
    padding: .5em 0 .5em .5em;
    border-top: 1px solid #999;
    font-weight: bold;
    text-align: left;
}

dd.tabular {
/*    background-color: beige; */
    margin-left: 8em;
    padding: .5em;
    text-align: justify;
}

dd.tabular.table { 
/*    background-color: lime; */
    margin: 0;
    margin-left: 2em;
    padding: 0;
    padding-bottom: 1em;
/*    text-align: right; */
    text-align: left;
}

dd.tabular.first { 
/*    background-color: aqua; */
    border-top: 1px solid #999; 
}

dd.tabular.footnote { border-top: 1px solid #999; }

dt.tabular a, dd.tabular ul li a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
}
dt.tabular, dd.tabular ul li a a:link    {}
dt.tabular, dd.tabular ul li a a:visited {}
dt.tabular, dd.tabular ul li a a:hover   {color: blue;}
dt.tabular, dd.tabular ul li a a:active  {color: red;}

dd.tabular a {
    text-decoration: none;
    margin: 0;
    padding: 0 0.3em;
    color: black;
    background-color: #eee;
}
dd.tabular a:link    {}
dd.tabular a:visited {}
dd.tabular a:hover   {color: blue; text-decoration: underline;}
dd.tabular a:active  {color: red; text-decoration: underline;} 

ol.contents-list {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    color: black;
    font-size: 0.9em; 
    font-weight: bold;
}
ol.contents-sublist {
    list-style-type: none; 
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    color: black;
    font-size: 0.85em; 
    font-weight: bold;
}
ol.contents-list a, ol.contents-sublist a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
ol.contents-list a:link,    ol.contents-sublist a:link    {}
ol.contents-list a:visited, ol.contents-sublist a:visited {}
ol.contents-list a:hover,   ol.contents-sublist a:hover   {color: blue;}
ol.contents-list a:active,  ol.contents-sublist a:active  {color: red;}

dl.outer-prefix {
    margin: 0.75em 0; 
    padding: 0; 
    color: black;
}
dl.outer-prefix dt {
    margin: 0; 
    padding: 0.25em 0; 
    text-align: left; 
    font-family: "Times New Roman", Times, "New Century Schoolbook", Garamond, serif;
    font-size: 1.2em; 
    font-weight: bold; 
}
dl.outer-prefix dd {
    margin: 0; 
    padding: 0 0 0 1em; 
    text-align: left; 
    font-family: "Courier New", Courier, "Andale Mono", Terminal, monospace;
    font-size: 0.9em; 
    font-weight: bold; 
}

/* testing zone */

#container {
    float: right;
    width: 8em;
    margin: 0; 
    margin: 0.3em 0 0.5em 1em;
    padding: 0; 
}
.top {
    display: block; 
    font-size: 1px;
}
.bottom {
    display: block; 
    font-size: 1px; 
}
.b1, .b2, .b3, .b4, .b5 {
    display: block; 
    /* hide overflow:hidden from IE5/Mac */ 
    /* \*/ 
    overflow: hidden; 
    /* */ 
}
.b1, .b2, .b3 { height: 1px; }
.b2, .b3, .b4, .b5 { 
    background: gainsboro; 
    border-left: 1px solid black; 
    border-right: 1px solid black;
}
.b1 { background: black; margin: 0 5px; }
.b2 {margin:0 3px; border-width:0 2px;}
.b3 { margin: 0 2px; }
.b4 { height: 2px; margin: 0 1px; }
.b5 { height: 2px; margin: 0 0px; }

dl#gallery {
    margin: 0; 
    padding: 0; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #8be; 
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 0.8em; 
    color: black;
}
dl#gallery dl {
    margin: 0; 
    padding: 0; 
    border-left: 1px solid black; 
    border-right: 1px solid black;
}
dl#gallery dt {
    margin: 0; 
    padding: 0 0.1em 0.4em 0; 
    text-align: center; 
    font-size: 1.4em; 
    font-weight: bold; 
    background-color: gainsboro;
}
dl#gallery dd {
    margin: 0; 
    padding: 0; 
    text-align: center; 
    border-top: 1px solid black; 
    font-weight: bold; 
}
dl#gallery a, dl#gallery a:visited {
    color: black; 
    text-decoration: none; 
    display: block; 
    padding: 0.4em;
    background-color: silver;
}
dl#gallery a:hover {
    background-color: gray; 
    color: white;
}

table.display {
    margin: 0 auto 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
    white-space: nowrap;
    text-indent: 0;
    text-align: center;
    line-height: 90%;
}
table.display caption {
    margin: 0 auto 0 auto;
    padding: 1em 0 0.5em 0;
    caption-side: bottom;
    font-family: "Times New Roman", Times, "New Century Schoolbook", Garamond, serif;
    font-weight: bold;
    text-align: center;
}
table.display th {
    padding: 5px 10px 0 10px;
    border: 0 solid transparent;
    text-align: left;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 85%;
}
table.display td.graphic {
    padding: 5px 10px;
    border: 0.15em solid black;
    vertical-align: top;
    font-family: "Times New Roman", Times, "New Century Schoolbook", Garamond, serif;
    font-size: 85%;
    font-weight: bold;
}
table.display td.label {
    padding: 5px;
    border: 0 solid transparent;
    vertical-align: top;
    font-family: "Times New Roman", Times, "New Century Schoolbook", Garamond, serif;
    font-size: 75%;
}
table.display td.label.column {
    text-align: center;
}
table.display td.label.row {
    text-align: right;
}
